/* Basic type and text */

html {
box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body {
    font: 1.2em / 1.5 system-ui;
    width: clamp(480px, 70%, 1000px);
    margin: 0 auto;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}


a {
    color: red;
}

a:focus,
a:hover {
    text-decoration: none;
}

/* Nav menu */

nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
    gap: 10px;
}

nav li {
    flex: 1;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: yellowgreen;
    display: block;
    text-align: center;
    padding: 10px;
}

a:focus,
a:hover {
    background-color: goldenrod;
}

/* Intro and summary */

.highlight {
    margin-top: 0;
    background-color: darkslategray;
    color: cornsilk;
    padding: 20px;
}

.highlight a {
    color: purple;
}

#introduction a,
#summary a {
    color: yellow;
}

section h2 + p::first-line {
    font-weight: bold;
}

.highlight h2 + p::first-line {
    font-weight: normal;
}

/* Footer */

footer.highlight {
    margin-top: 20px;
    background-color: goldenrod;
    text-shadow: 1px 1px 1px black;
}