body {
    font: 1.2em / 1.5 sans-serif;
}
/* ここにスタイルを追加 */

#special {
    background-color: yellow;
}

.alert {
    border: 1px solid gray
}

.alert.stop {
    background-color: red;
}

.alert.go {
    background-color: green;
}