body {
    font: 1.2em / 1.5 sans-serif;
    padding: 1em;
}

.box {
    border: 5px solid #000;
    width: 400px;
    margin-bottom: 1em;
}

.box1 {
    /* ここにスタイルを追加 */
    min-height: 100px;
    text-align: center;
}

.box2 {
    /* ここにスタイルを追加 */
    height: 100px;
    text-align: center;
}