body {
    font: 1.2em / 1.5 sans-serif;
    padding: 1em;
}
.box {
    border: 5px solid #000;
    margin-bottom: 1em;
    width: 500px;
}

img {
    /* ここにスタイルを追加 */
    min-height: 100%;
    max-width: 100%;
}