/* General styles */

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #333333;
    margin: 0;
    font: 1.2em / 1.6 sans-serif;
    padding: 0 20px 20px 20px;
}

img {
    display: block;
    border: 1px solid black;
    /* 画像が画面からはみ出さないように設定 */
    max-width: 100%;
}

/* Mobile layout */

header {
    padding: 50px 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 200%;
}

button {
    font-size: 250%;
    border: 0;
    background: none;
    cursor: pointer;
}

button:hover,
button:focus {
    text-shadow: 0 0 2px black;
}

nav {
    position: fixed;
    inset: 10%;
    background-color: white;
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

nav li {
    flex: 1;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    font-weight: bold;
}

.photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
}

.feature {
    width: 200px;
    float: left;
    margin: 8px 30px 20px 0;
}


/* 以下に追加項目を記載 */

@media screen and (width > 800px) {
    button {
        display: none;
    }
    nav {
        display: block;
        inset: unset;
        position: sticky;
        top: 0;
    }
    nav ul {
        display: flex;
        flex-direction: row;
    }
    nav a {
        font-size: 100%;
        padding: 10px 0;
    }
    .grid {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "nav nav"
            "article aside";
        gap: 20px;
    }
    nav {
        grid-area: nav;
    }
    article {
        grid-area: article;
    }
    aside {
        grid-area: aside;
    }
}

@media screen and (width > 1300px) {
    nav {
        display: block;
    }
    nav ul{
        flex-direction: column;
    }
    nav li {
        flex: unset;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
            "nav article aside";
    }
    nav {
        grid-area: nav;
    }
    article {
        grid-area: article;
    }
    aside {
        grid-area: aside;
    }
}

h1 {
    margin: 0;
    font-size: calc(1rem + 3vw);
}

h2 {
    margin: 0;
    font-size: calc(0.8rem + 2vw);
}

@media print {
    button,
    nav {
        display: none;
    }
}